<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Buscar Usuario - Calculadora Pensional</title>
</head>

<body>
    <form action="/usuario/buscar" method="get">  
        <h1>Buscar información pensional</h1>

        <p>Ingrese el número de cédula del usuario para consultar sus datos pensionales.</p>

        <div>
            Cédula: <input type="text" name="cedula" required />
        </div>

        <br>
        <input type="submit" value="Buscar" />
    </form>
</body>

</html>