<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Resultados de Usuario - Calculadora Pensional</title>
    <h2>Información del Usuario</h2> 
    <p><strong>Cédula buscada:</strong> {{ cedula }}</p>
</head>

<body>
    <h1>Información del Usuario</h1>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead style="font-weight: bold; background-color: #f0f0f0;">
            <tr>
                <td>Nombre</td>
                <td>Base de Liquidación</td>
                <td>Salario Mínimo Legal Vigente</td>
                <td>Porcentaje de Pensión</td>
                <td>Pensión Mensual Estimada</td>
            </tr>
        </thead>
    <tbody>
        {% if usuario %}
        <tr>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.base_settlement_income }}</td>
            <td>{{ usuario.current_legal_minimum_wage }}</td>
            <td>{{ usuario.pension_porcentage }}</td>
            <td>{{ usuario.base_settlement_income * usuario.pension_porcentage / 100 }}</td>
        </tr>
        {% else %}
        <tr>
        <td colspan="5">Usuario no encontrado</td>
    </tr>
    {% endif %}
     <!-- Enlace para modificar -->
    <a href="{{ url_for('modificar_usuario', cedula=usuario.cedula) }}">
        <button>Modificar Usuario</button>
    </a>

    <br/><br/>
    <a href="{{ url_for('Home') }}">Volver al inicio</a>
    </tbody>
    </table>
</body>

</html>