<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Resultados de Usuario - Calculadora Pensional</title>
</head>

<body>
    <h1>Información del Usuario</h1>

    <p>
         Búsqueda de Tarjetas para la cédula : {{ cedula }}
    </p>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead style="font-weight: bold; background-color: #f0f0f0;">
            <tr>
                <td>Nombre</td>
                <td>Base de Liquidación</td>
                <td>Salario Mínimo Legal Vigente</td>
                <td>Porcentaje de Pensión</td>
                <td>Pensión Mensual Estimada</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Laura Gómez</td>
                <td>$4,000,000</td>
                <td>$1,300,000</td>
                <td>75%</td>
                <td>$3,000,000</td>
            </tr>
        </tbody>
    </table>
</body>

</html>